<a href="https://colab.research.google.com/github/orikruzlan/pingpong/blob/main/Boston_Housing_project_Linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [4]:
from sklearn.datasets import load_boston
boston = load_boston()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [10]:
df_x = pd.DataFrame(boston.data, columns= boston.feature_names)
df_y = pd.DataFrame(boston.target)

In [11]:
df_x.describe

<bound method NDFrame.describe of         CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT
0       15.3  396.90   4.98
1       17.8  396.90   9.14
2       17.8  392.83   4.03
3       18.7  394.63   2.94
4       18.7  396.90   5.33
..       ...     ...    ...
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

[506 rows x 13 columns]>

In [12]:
reg = linear_model.LinearRegression()

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test = train_test_split(df_x,df_y, test_size = 0.2, random_state = 4)

In [17]:
reg.fit(x_train, y_train)

LinearRegression()

In [18]:
print('Coef:', reg.coef_)

Coef: [[-1.15966452e-01  4.71249231e-02  8.25980146e-03  3.23404531e+00
  -1.66865890e+01  3.88410651e+00 -1.08974442e-02 -1.54129540e+00
   2.93208309e-01 -1.34059383e-02 -9.06296429e-01  8.80823439e-03
  -4.57723846e-01]]

In [19]:
a = reg.predict(x_test)

In [20]:
print(a)

[[12.07495986]
 [26.9894969 ]
 [17.58803353]
 [18.15584511]
 [36.92091659]
 [25.43267386]
 [31.09256932]
 [19.72549907]
 [19.66103377]
 [22.96358632]
 [28.38841214]
 [28.48925986]
 [18.99690357]
 [32.41097504]
 [21.52350275]
 [15.25945122]
 [21.23364112]
 [11.6220597 ]
 [11.37109662]
 [13.63515584]
 [ 5.62431971]
 [17.35323315]
 [20.80951594]
 [22.51311312]
 [16.39055556]
 [20.32352451]
 [17.88994185]
 [14.23445109]
 [21.1187098 ]
 [17.50765806]
 [14.54295525]
 [23.63289896]
 [34.32419647]
 [22.23027161]
 [16.82396516]
 [20.16274383]
 [30.67665825]
 [35.61882904]
 [23.50372003]
 [24.66451121]
 [36.91269871]
 [32.33290254]
 [19.11785719]
 [32.19546605]
 [33.42795148]
 [25.52705821]
 [40.63477427]
 [18.21762788]
 [19.34587461]
 [23.80167377]
 [33.42122982]
 [26.1451108 ]
 [18.10363121]
 [28.19906437]
 [13.37486655]
 [23.34019279]
 [24.44952678]
 [33.54973856]
 [16.71263275]
 [36.56402224]
 [15.69684554]
 [18.55447039]
 [32.14543203]
 [15.49568061]
 [39.02363234]
 [27.38174402]
 [31.96333419]
 [10.09436162]
 [19.13214621]
 [21.73038157]
 [23.14682001]
 [22.82615401]
 [22.51245566]
 [28.21477189]
 [17.13262484]
 [23.08039019]
 [16.65978367]
 [25.17892617]
 [13.68806399]
 [19.8195139 ]
 [22.31237842]
 [20.24637447]
 [28.35989119]
 [19.12635952]
 [30.49206633]
 [22.25649076]
 [29.98229473]
 [19.27750127]
 [23.73890345]
 [38.32216452]
 [31.24781499]
 [41.92137782]
 [18.61466511]
 [37.47526878]
 [19.66151941]
 [23.44504636]
 [26.55358092]
 [22.38454399]
 [ 9.59394823]
 [20.39499251]
 [ 9.22793989]
 [27.36219976]]

In [21]:
print(y_test)

        0
8    16.5
289  24.8
68   17.4
211  19.3
226  37.6
..    ...
368  50.0
144  11.8
336  19.5
437   8.7
216  23.3

[102 rows x 1 columns]

In [22]:
# mean square error
np.mean((a-y_test)**2)

0    25.419587
dtype: float64